@import 'boilerplate/main';
@import 'boilerplate/normalize';
@import 'plugins/plugins-dir';
@import 'modules/modules-dir';

//layout
main {
  @include outer-container;
}
li .footer-form {
  display: none;
}

.article-detail {
  .content-wrap {
      padding: 4vh 2vw 4vh 2vw;
  .content {
    margin-bottom: 30px;
  }
  }
  img {
    display: block;
    margin: 20px auto 25px auto;
    border-radius: 15px;
    border: 4px solid #444;
    overflow: hidden;
  }
  ol {
    list-style-type: decimal;
    padding-left: 40px;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  blockquote {
    background-color: #4ea9d5;
    color: white;
    font-weight: bold;
    padding: 2em;
    border-radius: 5px;
  }
}
