.scroll-on-page {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $small-screen: em(1) !default;
  $base-font-color: $dark-gray !default;

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  display: inline-block;

  aside {
    @include media($small-screen) {
      display:none;
    }
    @include media($large-screen) {
      @include span-columns(4 of 12);
      min-height: 100vh;
    }
   // padding-left: 2vw;
  }

  .scroll-on-page-link {
    border-bottom: 1px solid transparentize($base-link-color, 0.8);
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  article {

  padding: 0 2vw 0 2vw;

    h4 {
      padding: 0 0 0.5em 0;
    }
    section p:last-of-type {
      margin-bottom: 0.5em;
    }
    @include media($large-screen) {
      @include span-columns(8 of 12);
      @include omega;
    }
  }
}

// Based on code by http://codepen.io/xmark/
