
mixin author(authorName)
  - var author = contents.authors[authorName + '.json']
  span.author
    if author
      a(href='https://'+author.metadata.email)= author.metadata.name
    else
      =authorName
