@import 'boilerplate/main';
@import 'boilerplate/normalize';
@import 'plugins/plugins-dir';
@import 'modules/modules-dir';

//layout
main {
  @include outer-container;
}
li .footer-form {
  display: none;
}

.article-detail {
  .content-wrap {
      padding: 4vh 2vw 4vh 2vw;
  .content {
    margin-bottom: 30px;
  }
  }
  img {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    border: 5px solid #444;
  }
  ol {
    list-style-type: decimal;
    padding-left: 40px;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 2em;
  }
}