.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #3a759d !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////
  @mixin herobg($transTop,$transBot) {
    @include background-image(linear-gradient(transparentize($base-accent-color,$transTop), transparentize($base-accent-color,$transBot) ), url("/img/header.jpg"));
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  $hero-color: white;
  @include herobg(0.4,0.2);
  padding-bottom: 1em;
  margin-bottom: 2em;
  margin-top: 1em;
  @include outer-container;
  border: 2px solid darken($base-accent-color,20%);
  border-radius: 3px;
  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 1.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 2em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 80%;
        }
      }
    }
  }
}
